<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" type="text/css" href="../styles/main.css" /> -->
</head>

<body>
    <%-include('./_nav') %>
    <div>
        <h1>Viewing all Inventory Items</h1>
    </div>
    <div class='card__container'>
        <% for(let i = 0; i < allProducts.length; i++) { %>
            <a href="/product/<%= allProducts[i].id %>">
                <div class="card">
                    <%= allProducts[i].title %>
                    <img src="<%= allProducts[i].image%>" width="200px">
                    <%= allProducts[i].description %>
                    <div>
                        $<%= allProducts[i].price %>
                    </div>
                </div>
            </a>
        <% } %> 
    </div> 
</body>

</html>

<style type="text/css">
    body {
        background-color: aqua;

    }
    .card__container{
        display: flex;
    }
    .card {
        width: 200px;
        padding: 10px 10px ;
        margin: 10px 10px;
        border-radius: 5px;
        background-color: aliceblue;
    }
</style>