<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>
<body>
    <%-include('./_nav') %>
    <h1>Edit <%= product.title %></h1>
    <form action="/product/<%= product.id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label><br />
            <input maxlength="30" type="text" class="input" placeholder="Painting" name="title" id="title" value="<%= product.title %>" required>
        </div>
        <div>
            <label for="description">Description</label><br />
            <input maxlength="300" type="text" class="input" placeholder="Description" name="description" id="description" value="<%= product.description %>" required>
        </div>
        <div>
            <label for="price">Price</label><br />
            <input maxlength="300" type="number" class="input" placeholder="$199.99" name="price" id="price" step="0.01" min=0 value="<%= product.price %>" required>
        </div>

        <div>
            <label for="image">Image URL</label><br />
            <input maxlength="300" type="text" class="input" placeholder="Image" name="image" id="image" value="<%= product.image %>" required>
        </div>

        <div>
            <button type="submit">Edit Item</button>
        </div>
    </form>
</body>
</html>