<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Product Page</title>
</head>
<body>
    <%-include('./_nav') %>
    <h1>Viewing Individual Product Page</h1>
    <div>
        <div><%= product.title %> </div>
        <div><%= product.description %> </div>
        <img src="/<%= product.image %>" alt="" srcset="" width="150px">
        $<%= product.price %> 
    </div>
    <div style="margin-top: 20px; display:flex;">
        <a href="/product/<%= product.id %>/edit" class='btn'>Edit</a>
        <form action="/product/<%= product.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Product" class='btn'/>
        </form>
    </div>


</body>
</html>